
.settings__nav{
    background-color: #E5E5E5;
    padding-top: 10px;
    padding-bottom: 1px;
}
.active__set{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #152540;
    width: 300px;
    height: 80px;
    text-decoration: none;
    padding: 30px 170xp 32px 70px;
    background-color: #FFFFFF;
    border-radius: 4px 4px 0px 0px;
    margin-left: 5px;
}
.settings__link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
    width: 300px;
    height: 80px;
    margin-left: 5px;
    background-color: #F3F6F9; 
    border-radius: 4px 4px 0px 0px;
    padding: 30px 170xp 32px 70px;
    text-decoration: none;
}